
/* Settings */
/*Convert rem and set fonts.*/
html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
    max-width: 60rem;
    margin: 7.5% auto;
}

/*Links*/
.link {
    text-decoration: none;
    color: black;
}

/* Header.js */

.header h1 {
    font-size: 6rem;
}

.header h2 {
    font-size: 3rem;
    color: grey;
}

/* ButtonPage.js */
.menu__button {
    font-size: 1.5rem;
    font-weight: bold;
    height: 10rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 3rem 1rem;
}

/* SearchPage */
.search__input {
    font-size: 2rem;
    width: 28rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.search__button {
    border-radius: 4rem;
    height: 4rem;
    width: 4rem;
}

.loading__message {
    font-size: 2rem;
}

.error__message {
    font-size: 2rem;
    color: red;
}

/* City.js */
.city__container {
    margin: 1rem auto;
    width: 30rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    font-size: 1.5rem;
  }

/* DisplayCity.js */
.population__container {
    border: 0.2rem solid black;
    width: 35rem;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  
  .population__txt {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }
  
  .population__num {
    margin-top: 0;
    font-size: 4rem;
    color: darkgreen;
  }

  